In [143]:
# import data for analysis

import pandas as pd

# Dataset one: illiteracy rate for population aged more than 15 years by Area
illitRate = pd.read_excel('AdultIlliteracyrate.xls')
illitRate.columns = ['Area','IlliteracyRate'] 
illitRate['LiteracyRate'] = 100 - illitRate['IlliteracyRate']

illitRate.head()

            Area  IlliteracyRate  LiteracyRate
0          India           30.17         69.83
1  Uttar Pradesh           39.91         60.09
2      Rajasthan           41.13         58.87
3          Delhi           12.90         87.10
4        Haryana           25.36         74.64

In [148]:
# Dataset two: Internet access to population by Area
internetAcc = pd.read_excel('AvailabilityofassetsComputerlaptopwithinternet.xls')
internetAcc = internetAcc.drop(internetAcc.index[0])
internetAcc = internetAcc.T
internetAcc = internetAcc.drop(internetAcc.index[0:2])
internetAcc = internetAcc.reset_index()
internetAcc.columns = ['Area','Internet']
internetAcc.head()

            Area Internet
0  Uttar Pradesh      1.9
1      Rajasthan      1.8
2          Delhi     17.6
3        Haryana      5.3
4    Uttarakhand      3.2

In [248]:
mergedDF = illitRate.merge(internetAcc, on='Area', how='inner')

# Feature scaling

mergedDF['scaledLiteracyRate'] = abs(mergedDF['LiteracyRate'] - mergedDF['LiteracyRate'].mean())/(mergedDF['LiteracyRate'].max() - mergedDF['LiteracyRate'].min())
                                    
mergedDF['scaledInternetAccess'] = abs(mergedDF['Internet'] - mergedDF['Internet'].mean())/(mergedDF['Internet'].max() - mergedDF['Internet'].min())
#mergedDF = mergedDF.sort(columns ='scaledLiteracyRate')                                   
mergedDF.head()

,Area,IlliteracyRate,LiteracyRate,Internet,scaledLiteracyRate,scaledInternetAccess
0,Uttar Pradesh,39.91,60.09,1.9,0.450189,0.117784
1,Rajasthan,41.13,58.87,1.8,0.481927,0.123371
2,Delhi,12.90,87.10,17.6,0.252464,0.759311
3,Haryana,25.36,74.64,5.3,0.071677,0.0721601
4,Uttarakhand,23.31,76.69,3.2,0.018347,0.0451583

In [ ]:
%matplotlib inline

import matplotlib.pyplot as plt
import numpy as np


plt.figure(figsize=(15,5))
states = mergedDF['Area']
xpos = np.arange(len(states))
#mergedDF[['Area','scaledLiteracyRate','scaledInternetAccess']].plot(kind = 'bar')
#mergedDF[['Area','scaledLiteracyRate','scaledInternetAccess']].plot(kind = 'line')
plt.bar(mergedDF.index, mergedDF['scaledLiteracyRate'], label='Literacy Rate', alpha = 0.25,c= 'red')
plt.bar(mergedDF.index, mergedDF['scaledInternetAccess'], label = 'Internet Access',color = 'blue', alpha = .25, width = 0.25)
plt.xlabel('Indian States')
plt.xticks(xpos, states, rotation=75);
plt.legend(loc=(.8,.75),frameon=False, fontsize = 10);
#plt.bar(mergedDF.index, mergedDF['scaledLiteracyRate'])

# remove frame from bars
for spine in plt.gca().spines.values():
    spine.set_visible (False)
plt.gca().spines.values

# remove ticks
plt.tick_params(top='off',left='off',right='off',bottom='off');